@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --color-one:hsl(200, 26%, 54%);
    --color-two:hsl(200, 24%, 40%);
    --color-three:hsl(202, 86%, 94%);
    --color-four:hsl(202, 55%, 16%);
    --color-five:hsl(61, 70%, 52%);
    --color-six:hsl(203, 41%, 72%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyBackground{
    font-family: "Plus Jakarta Sans", "Arial";
}

.headerCalculator{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.headerCalculator h1{
    font-size: 1.8rem;
}

.headerCalculator p{
    color: var(--color-one);
    font-size: 1rem;  
    border-bottom:1px solid var(--color-one);
    width:fit-content;
}

.formCalculator{
    padding: 1.5rem;
}

.formContentCalculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    
}

.formMortagageInput{
    width: 100%;
    display: flex;
    align-items: center;
    border: solid var(--color-two) 1px;
    border-radius: 5px;
}

.formMortagageInput input{
    width: 100%;
}

.formMortagageInput span{
    padding: 0.8rem;
    background-color: var(--color-three);
    font-weight: bold;
    color: var(--color-two);
}

.formContentCalculator input{
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

.formContentCalculator input:focus{
    outline: 2px solid var(--color-five);
}

#formMortgageAmount span{
   border-radius: 5px 0 0 5px;
}

#formMortgageTerm span, #formMortgageRate span{
    border-radius: 0 5px 5px 0;
}

.formContentCalculator label{
    margin:1rem 0 0.8rem 0;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-two);
}

.formCheckboxContainer{
    width: 100%;
}

.formCheckboxContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.checkContainer{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--color-two);
    border-radius: 5px;
    justify-content: left;
    padding: 0.8rem;
    cursor:pointer;
    transition: 0.2s ease-in-out;
}

#checkContainer01, #checkContainer02{
    margin: 0;
}

.checkContainer p{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-four);
}


.checkContainer input{
    display: none;
    
}

.checkContainer:has(input[type="checkbox"]:checked){
    border: 1px solid var(--color-five);
    background-color: rgb(215, 218, 47,0.1);
    transition: 0.2s ease-in-out;
}

.checkBtn{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-two);
    width: 1.2rem;
    aspect-ratio: 1;
    border: 1px solid black;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.checkContainer input:checked ~ .checkBtn{
    border: none;
    outline-offset: 2px;
    outline: 2px solid var(--color-five);
    background-color: var(--color-five);
    width: 0.7rem;
    margin-left: 0.3rem;
    aspect-ratio: 1;
    margin-right: 0.2rem;
    transition: 0.2s ease-in-out;
}

.btnCalculate{
    background-color: var(--color-five);
    border: none;
    width: 100%;;
    border-radius: 30px;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--color-four);
}

.footerCalculatorDisplay{
    margin-top: 1rem;
    background-color: var(--color-four);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
}

.footerCalculatorText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.footerCalculatorDisplay h2{
    font-size: 1.5rem;
    font-weight: 600;
    
}

.footerCalculatorDisplay p{
    color: var(--color-six);
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 300;
}


.footerCalculatorDisplayNone{
    display: none;
    margin-top: 1rem;
    background-color: var(--color-four);
    width: 100%;
    color: white;
    padding: 2rem ;
    gap: 1rem;
}

.CalculatorPrincipalText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.2rem;
}

.CalculatorPrincipalText h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.CalculatorPrincipalText p{
    color: var(--color-six);
    font-size: 1rem;
    text-align:start;
    letter-spacing: 0.5px;
    font-weight: 300;
}

.CalculatorPrincipalMoney{
    width: 100%;
    background-color: hsl(201, 55%, 12%);
    padding: 1.5rem 1rem 0 1rem;
    border-radius: 10px;
    border-top: 5px solid var(--color-five);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    margin-top: 1.5rem;
}

.CalculatorPrincipalRepayTotal{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem;
    border-top: 0.1px solid var(--color-two);
    padding: 1rem 0;
}

.CalculatorPrincipalRepayTotal .MoneyLibraTotal{
    font-size: 1.5rem;
    font-weight: 600;
}


.CalculatorPrincipalMoney p{
    color: var(--color-six);
    font-size: 1rem;
}

.CalculatorPrincipalMoney .MoneyLibra{
    color: var(--color-five);
    font-size: 2.8rem;
    font-weight: 600;
}
