@media screen and (min-width:90em) {
 
    
    
.bodyBackground{
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    }

.bodyDisplay {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Lado esquerdo */
.formCalculator {
  flex: 1;
  background-color: white;
  border-radius: 1rem 0 0 1rem;
  
  
}

/* Lado direito */
.footerCalculatorDisplay {
  flex: 1;
  background-color: #0a2c3d;
  color: #fff;
  padding: 2rem;
  border-radius: 0 1rem 1rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

}
